@import './reset.css';
@import './variables.css';
@import './typography.css';
@import './components.css';

/* Efeitos Globais e Transições com Lenis */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Animações de Entrada (GSAP Reveal Hooks) */
[data-reveal] {
  opacity: 0;
  transform: translateY(30px);
  will-change: transform, opacity;
}
